
<script src="__ADMIN__/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__ADMIN__/js/content.min.js?v=1.0.0"></script>
<script src="__ADMIN__/js/plugins/iCheck/icheck.min.js"></script>
<script src="__ADMIN__/js/plugins/layer/layer.min.js"></script>
<script src="__ADMIN__/js/layer_hplus.js"></script>
<script src="__ADMIN__/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
<script src="__ADMIN__/js/plugins/cropper/cropper.min.js"></script>
<!--<script src="__ADMIN__/js/demo/form-advanced-demo.min.js"></script>-->
<script src="__ADMIN__/js/plugins/layer/laydate/laydate.js"></script>
<script src="__ADMIN__/js/yfcmf.js"></script>
</body>
</html>